<template>
    <div>
        <form @submit.prevent="onSubmit">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-xl-6">
                    <div v-if="sent==true">
                        Сообщение можно отправлять один раз в сутки
                    </div>
<!--                    v-if="sent==true"-->
                    <div v-else>
                        <div class="__mardinBottom">
                            <label class="__margin">Тема</label>
                            <input type="text" name="subject" v-model="subject" autocomplete="off" class="form-control">
                        </div>
                        <div class="__mardinBottom">
                            <label class="__margin">Сообщение</label>
                            <textarea v-model="message" name="message" class="form-control"></textarea>
                        </div>
                        <div class="__mardinBottom">
                            <label class="__margin">Файл</label><br>
                            <input type="file" ref="url_img" name="url_img" @change="syncFile($event,'url_img')">
                        </div>
                        <button type="submit">Отправить</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        name: "FormClient",
        props: {
            token: {
                type: String,
            }
        },
        data() {
            return {
                subject: "",
                message: "",
                url_img: "",
                sent: "",
            };
        },
        async mounted() {
            let app = this;
            const response = await axios.get('api/client/home',{
                headers: {
                    'Authorization': 'Bearer ' + this.token
                }
            });
            app.sent = response.data.sent;
        },
        methods: {
            syncFile: function (event, target) {
                this[target] = this.$refs[target].files[0];
            },
            async onSubmit() {
                let formData = new FormData();
                formData.append('subject', this.subject);
                formData.append('message', this.message);
                formData.append('url_img', this.url_img);
                formData.append('api_token', this.token);
                const response = await axios.post('api/client/home',formData,{
                    headers: {
                        'Authorization': 'Bearer ' + this.token
                    }
                });
                console.log(response);
            },
        },
    }
</script>

<style scoped>
    .__margin{
        margin: 0;
    }

    .__mardinBottom{
        margin-bottom: 10px;
    }
</style>