<template>
    <div>
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-10">
                <div >Заявки</div>
                <div>
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Тема</th>
                            <th>Сообщение</th>
                            <th>Имя клиента</th>
                            <th>Почта клиента</th>
                            <th>Ссылка на файл</th>
                            <th>Время создания</th>
                            <th>Просмотрено</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(application) in applications">
                            <th>{{application.id}}</th>
                            <th>{{application.subject}}</th>
                            <th>{{application.message}}</th>
                            <th>{{application.user.name}}</th>
                            <th>{{application.user.email}}</th>
                            <th>{{application.url_img}}</th>
                            <th>{{application.created_at}}</th>
                            <th v-if="application.viewed!=1">
                                <input type="checkbox" v-model="application.viewed" @change="onCheck(application.id)" name="Check[]" >
                            </th>
                            <th v-else>
                                <input type="checkbox" disabled v-model="application.viewed" name="Check[]" >
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "FromMeneger",
        props:{
            token:{
                type:String,
            }
        },
        data(){
            return{
                applications:[],
            }
        },
        async mounted() {
            let app=this;
            const response = await axios.get('api/manager/home',{
                headers: {
                    'Authorization': 'Bearer ' + this.token
                }
            });
            app.applications=response.data.data;
        },
        methods:{
            async onCheck(index) {
                const response = await axios.post('api/manager/home',{
                    id:index
                },{
                    headers: {
                        'Authorization': 'Bearer ' + this.token
                    }
                });
                console.log(response);
            }
        }
    }
</script>

<style scoped>

</style>